@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: rgb(161, 100, 223);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;

}
*{
    box-sizing: border-box;
}
.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: white;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}
.btn:focus{
    outline: none;

}
.btn:hover{
    opacity: 0.9;
}