@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: #6868d0;
    padding: 20px;

}
*{
    box-sizing: border-box;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px 20px;
    text-align: center;
    max-width: 100%;
    width: 800px;


}
h3{
    margin: 0;
    opacity: 0.5;
    letter-spacing: 2px;

}
.joke{
    font-size: 30px;
    letter-spacing: 1px ;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}
.btn{
    background-color: #9F68E0;
    border: 0;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 14px 40px;
    font-size: 1rem;
    cursor: pointer;

}
.btn:active{
    transform: scale(0.98);
}
.btn:focus{
    outline: 0;
}